# Dictionaries

Create a dictionary called prices. Put the following key-value pairs of fruits and their prices in your dictionary:

banana - 0.79,
apple - 1.99,
orange - 1.50,
pear - 0.97

If you were to buy one of each fruit, how much would it cost? How about five of each fruit? 
Create a function to calculate the cost of n of each fruit

Woah, avocados are on sale for $0.69 each! Add this key-value pair to prices. 

Now, using your function from above, print the price of purchasing 12 of each fruit.

# Pandas

The Titanic dataset provides information about the survival of passengers onboard the Titanic, which sank after hitting an iceburg during its maiden voyage in April 1912. We will perform some basic analyses of these data using Pandas!

In [ ]:
# First, lets be sure pandas and numpy are both available for use:


# Now, let's read in the data from the file titanic.csv. 
titanic_data = pd.read_csv("titanic.csv")

# The .head() method allows us to see the first n rows of titanic_data. Let's see 4 rows 
# Is this object a series or a dataframe?
titanic_data.head(4)

In [ ]:
# Check the dimensions of our data (i.e. how many rows and columns does it have?)

In [ ]:
# What data do we have on each passenger anyway? lets check the column names to find out

### Subsetting

In [ ]:
# I want to see the first 5 values in the 'Survived' column using the column name
# There are two ways to do this - can you figure out both? Double check they give the same result

In [ ]:
# Now, I want to see the ages that correspond to the survival values in these first 5 rows
# How can we select 5 rows and 2 columns? (use column names for accessing these data)

In [ ]:
# Time for some analysis. We want to know the total number and percentage of surviors and non-survivors
# HINT: there is a method called .value_counts() that will help you here - use the documentation!

### Cross-tabulation

In [ ]:
# Now we want to look into the distribution of males and females in both the survior and non-survivor groups
# HINT: how can the .crosstab() function help you here?


# After you've found the totals, let's view these as percentages
# HINT: play with the normalize parameter to see how the results change.
# Which tells you the percentage of women that survived?

### Filtering

In [ ]:
# We want to find out how many children under the age of 5 survived.
# Subset titanic_data to include only these data and save it to a new object, titanic_below_5

In [ ]:
# How many total children under 5 were onboard the titanic?

In [ ]:
# Now find the total numbers as well as percentages of survivors/non-survivors in this subset

In [ ]:
# BONUS: Find all the rows in titanic_data where the name contains "Allen"